*~
.#*
/target
/.classpath
/.settings
/.project
/generated
/runtime
/*.log
/work
/cookie-jar
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/