## Assumes uri is set to the uri of the entity/item/register being displayed
    #set($link="$root")
    <ul class="breadcrumb">
      <li><a href="$link/">$registry.baseURI</a> <span class="divider">/</span></li>
      #foreach($segment in $uri.split("/"))
##        #set($segment = $segment.replaceAll("^_", ""))
        #if($foreach.hasNext)
          <li><a href="$link/$segment">$segment</a> <span class="divider">/</span></li>
        #else
          <li class="active">$segment</li>
        #end
        #set($link="$link/$segment")
      #end
    </ul>
