## Entity/item edit
## Parameters:
##    $return the page to return to (or is that just referrer)
##    $target = URL to be edited

#parse("header.vm")
#parse("navbar.vm")

<div class="modal-page">
  <div class="row">
    <div class="offset1 span10 modal-page-panel">

        <div class="modal-page-head">
          <h3>Edit: $target</h3>
        </div>

        <div class="modal-page-body">

          #if(!$target.startsWith($registry.baseURI))
            <div class="alert">Sorry, can only update managed entities, this looks like an external reference</div>
          #else
            #set($uri=$lib.reg.pathFor($target))
            #set($response=$registry.perform("Read","$uri?_view=with_metadata", $requestor))
            #if($response.status == 404)
              #parse("not-found.vm")
            #elseif($response.status >= 500)
              #parse("internal-error.vm")
            #else
              #set($model=$response.entity)
              $model.setLanguage($language)
              #set($editTarget=$model.getNode($target))

              #set($isItem = $lib.reg.isItem($target))

              #set($posturl = $editTarget.uRI.replaceAll("^https?://[^/]*/","/"))

                <p>The values will be converted to Turtle syntax (anything that looks like a URL will be wrapped in  &lt;...&gt;,
                anything that looks like a general string will be quoted. To force a particular interpretation (e.g. to enter a string
                and looks like a number) then use explicit Turtle syntax.</p>

                <div class="tabbable">

                  <ul class="nav nav-tabs nav-compact">
                    <li class="active"><a href="#tabPT" data-toggle="tab">Property table</a></li>
                    <li><a href="#tabPrefixes" data-toggle="tab">Prefixes</a></li>
                  </ul>

                  <div class="tab-content">
                    <div class="tab-pane active" id="tabPT">
                      <p>Click on values to edit them. </p>
                      <table id="edit-table" class="table table-bordered table-striped ui-edit-table" data-root="$editTarget.uRI" data-target="$posturl" >
                        <tbody>
                        #set($count = 0)
                        #foreach($pv in $editTarget.listProperties())
                          #if(!$isItem || $lib.reg.isEditable($pv.prop))
                            #foreach($v in $pv.values)
                              #set($newid = "edit-" + $count)
                              #set($count = $count + 1)
                              <tr id="$newid">
                                <td>$pv.prop.shortURI</td>
                                <td><a href="#" class="ui-editable" data-type="text" data-inputclass="input-large" data-name="$pv.prop.shortURI">$v.asTurtle().replaceAll("<","&lt;")</a></td>
                                <td>#if(!$isItem)<a class="edit-remove-row"><i data-target="#$newid"  class="icon-minus-sign"></i></a>#end
                                    <a class="edit-add-row"><i data-target="#$newid"  class="icon-plus-sign"></i></a>
                                </td>
                              </tr>
                            #end
                          #end
                        #end
                        </tbody>
                      </table>
                      <div>
                         <a class="edit-add-newrow"><i data-target="#edit-table" class="icon-plus-sign"></i></a></td>
                      </div>
                    </div>

                    <div class="tab-pane" id="tabPrefixes">
                      <a href="#" id="edit-prefixes" data-type="textarea" class="ui-editable" data-inputclass="input-xxlarge" data-rows="12">
                      $lib.reg.turtlePrefixes($editTarget).replaceAll("<","&lt;").replaceAll("\n","<br/>")
                      </a>
                    </div>

                  </div>
                </div>

            #end
          #end

        </div>

        <div id="msg-alert" class="alert hide">
            <div id="msg"></div>
        </div>

      <div class="modal-page-footer">
        <button class="btn btn-primary space-above edit-table-save" data-isitem="$isItem" data-return="$return">Save changes</button>
        <a href="$return" class="btn pull-right">Close</a>
      </div>

    </div>
  </div>

</div>

<div class="modal-backdrop in"></div>

#parse("footer.vm")

<div class="modal-page-head">
    <h3>Edit: $target</h3>
</div>

