#set($uiroot="$root/ui")
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>#if($pageTitle) $pageTitle #else UKGovLD Registry #end</title>
    <link type="text/css" rel="stylesheet" href="$uiroot/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="$uiroot/css/ui.css" />
    <link type="text/css" rel="stylesheet" href="$uiroot/css/bootstrap-responsive.min.css" />
    <link type="text/css" rel="stylesheet" href="$uiroot/css/jquery.dataTables.css" />
    <link type="text/css" rel="stylesheet" href="$uiroot/css/bootstrap-editable.css" />

    #if($extraCSS)
      #foreach($file in $extraCSS.split(","))
        <link type="text/css" rel="stylesheet" href="$uiroot/css/$file" />
      #end
    #end
##    <script type="text/javascript" src="$uiroot/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="$uiroot/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="$uiroot/js/jquery.form.js"></script>
  </head>

  <body>
      <div class="container">
