## Global macros

#macro(showstatus $status)
  <span class="label label-#statuslabel($lib.reg.asStatus($status).name())">$lib.reg.asStatus($status)</span>
#end

#macro(statuslabel $statusname)#if($statusname.equals("Stable"))success#elseif($statusname.equals("Experimental"))warning#elseif($statusname.equals("Invalid"))important#elseif($statusname.equals("Superseded"))inverse#elseif($statusname.equals("Retired"))inverse#else #end#end

#macro(linkhref $res)#if($res.uRI.startsWith($registry.baseURI))$res.uRI.substring($registry.baseURI.length())#else${root}/?entity=$lib.pathEncode($res.getURI())#end#end

#macro(linkfor $res)
   <a href="#linkhref($res)" title="$res.uRI">$res.name</a>
#end

#macro(render $v)
      #if($v.isResource())
        #linkfor($v)
      #else
        $lib.escapeHtml($v.lexicalForm, 1000)
      #end
#end

#macro(link $uri)
  <a href="$uri">$uri</a>
#end

## Display a property value in the RDF browser
#macro(resentry $v)
  #if($v.isList())
    <ul>
      #foreach($e in $v.asList())
        <li>#resentry($e)</li>
      #end
    </ul>
  #elseif($v.isAnon())
    #restable($v)
  #else
    #render($v)
  #end
#end

## Display a set of property/value pairs in the RDF browser
#macro(restable $res $classes)
  <table class="table $classes">
##    <thead><tr><th>Property</th><th>Value</th></tr></thead>
    <tbody>
      #foreach($pv in $res.listProperties())
        <tr>
          <td> <strong>$pv.getProp().name</strong> </td>
          <td>
            #foreach($v in $pv.getValues())
              #if($v.isList())
                  (#foreach($e in $v.asList())#resentry($e)#if( $foreach.hasNext ), #end#end)
              #elseif($v.isAnon())
                #restable($v)
              #else
                #resentry($v)
              #end
              #if( $foreach.hasNext )|#end
              #if( $foreach.count > 8 ) ... #break #end
            #end
            <br />
          </td>
        </tr>
      #end
    </tbody>
  </table>

#end

## Conditional row in a metadata table
#macro(metadatarow $label $values)
  #if(!$values.isEmpty())<tr><td><strong>$label</strong></td><td>#foreach($value in $values)#render($value)#if( $foreach.hasNext )| #end#end</td></tr>#end
#end

## Insert a set status dialog which using item as the source of current status
## target can be different to allow setting a whole register
#macro(statusSet $dialogID $dialogCaption $item $target)
        <div id="$dialogID" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>$dialogCaption</h3>
          </div>
          <div id="status-body" class="modal-body">
            #foreach($status in $lib.reg.nextStates($item.getPropertyValue("reg:status")))
                <button class="set-status btn btn-#statuslabel($status.name())" data-status="$status" data-target="#linkhref($target)">$status</button>
            #end
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
#end


## Debug utility to display the roots of a model
#macro(showmodel $model)
  #foreach($root in $model.listSubjects())
    <h4>Root: $root.uRI</h4>
    #restable($root, "table-condensed table-bordered")
  #end
#end


