## Global macros

#macro(showstatus $status)
  #if($status.uRI.endsWith("Stable"))
    <div class="alert alert-success">Stable</div>
  #elseif($status.uRI.endsWith("Experimental"))
    <div class="alert alert-success">Experimental</div>
  #elseif($status.uRI.endsWith("Submitted"))
    <div class="alert alert-info">Submitted</div>
  #elseif($status.uRI.endsWith("Invalid"))
    <div class="alert alert-error">Invalid</div>
  #elseif($status.uRI.endsWith("Superseded"))
    <div class="alert">Superseded</div>
  #elseif($status.uRI.endsWith("Retired"))
    <div class="alert">Retired</div>
  #else
    $status.name
  #end
#end

#macro(linkhref $res)#if($res.uRI.startsWith($registry.baseURI))$res.uRI.substring($registry.baseURI.length())#else${root}/?entity=$lib.pathEncode($res.getURI())#end#end

#macro(linkfor $res)
   <a href="#linkhref($res)" title="$res.uRI">$res.name</a>
#end

#macro(render $v)
      #if($v.isResource())
        #linkfor($v)
      #else
        $lib.escapeHtml($v.lexicalForm, 1000)
      #end
#end

## Display a property value in the RDF browser
#macro(resentry $v)
  #if($v.isList())
    <ul>
      #foreach($e in $v.asList())
        <li>#resentry($e)</li>        
      #end
    </ul>
  #elseif($v.isAnon())
    #restable($v)
  #else
    #render($v)
  #end
#end

## Display a set of property/value pairs in the RDF browser
#macro(restable $res $classes)
  <table class="table $classes">
##    <thead><tr><th>Property</th><th>Value</th></tr></thead>
    <tbody>
      #foreach($pv in $res.listProperties())
        <tr>
          <td> <strong>$pv.getProp().name</strong> </td>
          <td>
            #foreach($v in $pv.getValues())
              #if($v.isList())
                  (#foreach($e in $v.asList())#resentry($e)#if( $foreach.hasNext ), #end#end)
              #elseif($v.isAnon())
                #restable($v)
              #else
                #resentry($v)
              #end
              #if( $foreach.hasNext )|#end
              #if( $foreach.count > 8 ) ... #break #end
            #end
            <br />
          </td>
        </tr>
      #end
    </tbody>
  </table>

#end

