#parse("header.vm")
  #if($uri.isEmpty())
    #set($nav="root")
  #end
#parse("navbar.vm")

#if($page)
  #set($paging="_page=$page")
#else
  #set($paging="firstPage")
#end

#if($entity)
  #set($response=$registry.perform("Read","$uri?entity=$entity&_view=with_metadata&status=any&$paging", $requestor))
  #set($target=$entity)
  #set($uri=$entity)
#else
  #set($response=$registry.perform("Read","$uri?_view=with_metadata&status=any&$paging", $requestor))
  #set($versionNumber=$lib.regex($uri,".*:(\d+)$"))
  #if($versionNumber)
    #set($versionNumber=$versionNumber[0])
    #set($uri=$lib.replaceAll($uri,":\d+$",""))
  #end
  #set($target="$registry.baseURI/$uri")
#end

#if($response.status == 404)
  #parse("not-found.vm")
#elseif($response.status >= 500)
  #parse("internal-error.vm")
#else
  #set($model=$response.entity)
  #set($node=$model.getNode($target))

  #if($uri.isEmpty())
    #parse("root.vm")
  #elseif($node.hasResourceValue("rdf:type","reg:Register"))
    #parse("register.vm")
  #elseif($node.hasResourceValue("rdf:type","reg:RegisterItem"))
    #set($item=$node)
    #set($entity=$item.connectedNodes("reg:definition/reg:entity").get(0))
    #if($entity.hasResourceValue("rdf:type","reg:Register"))
      #set($node=$entity)
      #set($uri=$lib.replaceAll($uri,"/_([^/]+)$", "/$1"))
      #parse("register.vm")
    #else
      #parse("item.vm")
    #end
  #else
    #set($entity=$node)
    #set($items=$node.connectedNodes("^reg:entity/^reg:definition"))
    #if(!$items.isEmpty())
      #set($item=$items.get(0))
      #if($item.isAnon())
        #parse("resource.vm")
      #else
        #parse("item.vm")
      #end
    #else
      #parse("resource.vm")
    #end
  #end
#end

#parse("footer.vm")
