      
  <div class="navbar navbar-fixed-top  navbar-inverse">
    <div class="span1"> </div>
    <div class="navbar-inner">
      <a class="brand" href="#">UKGovLD Registry</a>
      <div class="span1"> </div>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Browse</a></li>
        <li><a href="#">Approve</a></li>
        <li><a href="#">Admin</a></li>
        <li><a href="#">About</a></li>
      </ul>
      
      <form action="text-search" method="get" class="navbar-search">
        <input type="search" class="search-query" placeholder="Search" #if($query)value="$query"#end name="query"/>
##             <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
      </form>
           
      <ul class="nav pull-right">
        <li><a href="#"><span class="muted">Not logged in</span><i class="icon-user icon-white"></i></a></li>
      </ul>
    </div>
  </div>
