## Insert paginator
##    $pageres should be bound to the ldp:Page resource in the mode
##    $page the current pagenumber from query parameters
##    $qparam to any additional query parameters to pass in the paging calls, if not empty it should include '&'

      #if(!$qparam)#set($qparam="")#end
      #if($page)
       #set($Integer = 0)
       #set($pagenum = $Integer.parseInt($page))

        <div class="pagination">
          <ul>
            #if($pagenum > 0)
              #set($prev=$pagenum - 1)
              <li><a href="?page=$prev$qparam">Prev</a></li>
              #foreach($p in [0..$prev])
                <li><a href="?page=$p$qparam">$p</a></li>
              #end
            #else
              <li class="disabled"><a href="#">Prev</a></li>
            #end

            <li class="active"><a href="?page=$pagenum$qparam">$pagenum</a></li>

            #if($pageres.getPropertyValue("ldp:nextPage"))
              #set($next=$pagenum + 1)
              <li><a href="?page=$next$qparam">Next page</a></li>
            #end
          </ul>
        </div>

      #elseif($pageres.getPropertyValue("ldp:nextPage"))
        <div class="pagination">
          <ul>
            <li class="disabled"><a href="#">Prev</a></li>
            <li class="active"><a href="#">0</a></li>
            <li><a href="?page=1$qparam">Next page</a></li>
          </ul>
        </div>
      #end
