## $model and $node should be bound to the register
## $members to the list of member entities

      #set($started=false)
      #foreach($itemMember in $lib.reg.asItemList($members))
        #set($item = $itemMember.item)
        #set($member = $itemMember.member)
        #if ($item)
          #set($show = !$item.hasResourceValue("reg:itemClass", "reg:Register")
               && !$item.hasResourceValue("reg:itemClass", "reg:NamespaceForward")
               && !$item.hasResourceValue("reg:status", "reg:statusReserved"))
        #else
           #set($show=true)
        #end
        #if($show)
          #if(!$started)
            #set($started=true)
            <h3>Members</h3>
          #end

          #showMember($item, $member)

        #end
      #end
