## Expects $register to the register itself and $itemForReg to be the RegisterItem for the register (within its parent)

#set($items = $model.querySelectW("SELECT * where {?page a ldp:Page; api:items ?items.}"))
#if (!$items.isEmpty())
  #set($members=$items.get(0).items.asList())
  #set($hasmembers=!$members.isEmpty())
#else
  #set($hasmembers=false)
#end

<div class="row space-above">
  <div class="span12">
    #parse("breadcrumbs.vm")
  </div>
</div>

<div class="row">

  ## Left hand column
  <div class="span8">

    ## Name/description header section
    <div class="row">
      <div class="span6">
        <h1>Register: $register.name</h1>
        #description($register, "<p><em>no description supplied</em></p>")
      </div>
    #if($itemForReg.getPropertyValue("reg:status"))
      <div class="span2">
        #showstatus($itemForReg.getPropertyValue("reg:status"))
      </div>
    #end
    </div>

    ## Listing members
    <div class="row">
      <div class="span8">
        <ul class="nav nav-tabs nav-compact action-tab">
          <li class="active"><a href="#list" data-toggle="tab">List</a></li>
          <li><a href="#table" data-toggle="tab">Table</a></li>
          <li><a href="#metadata" data-toggle="tab">Metadata</a></li>
          <li><a href="#administer" data-toggle="tab">Administer</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="list">
            #parse("register-list.vm")
          </div>
          <div class="tab-pane" id="table" data-action="register-table">
            <p>Page is loading ...</p>
          </div>
          <div class="tab-pane" id="metadata">
             #restable($register, "table-striped table-condensed")
          </div>
          <div class="tab-pane" id="administer">
            <p>To be implemented.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  ## Right hand column RDF access, metadata and actions
  <div class="span4">
    #set($entity=$register)
    #parse("formats.vm")

    <div class="panel">
      <div class="panel-head">
        <h4>About the Register</h4>
      </div>
      <div class="panel-body">
         <table class="table table-striped table-condensed">
           #metadatarow("owned by", $register.listPropertyValues("reg:owner"))
           #metadatarow("managed by", $register.listPropertyValues("reg:manager"))
           #metadatarow("license", $register.listPropertyValues("dct:license"))
           #metadatarow("last changed on", $register.listPropertyValues("dct:modified"))
         </table>
      </div>
    </div>

    ## Find a sample member
    #if($hasmembers)
      #set($ml=$members[0].connectedNodes("^reg:entity/^reg:definition"))
      #if(!$ml.isEmpty())
        #set($sample=$ml[0])
      #else
        #set($sample=false)
      #end
    #end

    <div>
       <h3 class="text-center">Actions</h3>
       #if($sample)
         <div class="span3">
           <a href="#status-dialog" role="button" class="btn" data-toggle="modal">Set contents status</a>
         </div>
       #end
       <div class="span3 space-above">
         <a href="#register-status-dialog" role="button" class="btn" data-toggle="modal">Set register status</a>
       </div>
       <div class="span3 space-above">
         <a href="#registration-dialog" role="button" class="btn btn-success" data-toggle="modal">Add registration</a>
       </div>
    </div>


    #if($sample)
        #statusSet("status-dialog", "Set status of register contents to ...", $sample, $register)
    #end
    #statusSet("register-status-dialog", "Set status register itself to ...", $itemForReg, $itemForReg)

    <div id="registration-dialog" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Chose type of thing to register ...</h3>
      </div>
      <div id="registration-body" class="modal-body">
        <ul class="nav nav-pills">
          <li><a href="#item-upload" data-toggle="pill">Upload</a></li>
          <li><a href="#item" data-toggle="pill">Form</a></li>
          <li><a href="#batch" data-toggle="pill">Batch</a></li>
          <li><a href="#register" data-toggle="pill">Subregister</a></li>
          <li><a href="#forward" data-toggle="pill">Forward</a></li>
          <li><a href="#delegation" data-toggle="pill">Delegation</a></li>
        </ul>

        <div class="pill-content">
          <div class="pill-pane" id="item-upload">
            <form class="form-inline ajax-form" action="#linkhref($register)" method="post" enctype="multipart/form-data">
              <label>
                Choose file(s) to upload:
                <input type="file" name="file" multiple />
              </label>
              <input type="hidden" name="action" value="register" />
              <button class="btn">Upload and register</button>
            </form>
            <div class="ajax-error"></div>
          </div>

          <div class="pill-pane" id="item">item</div>

          <div class="pill-pane" id="batch">
            <form class="form-inline ajax-form" action="#linkhref($register)?batch-managed" method="post" enctype="multipart/form-data">
              <label>
                Choose a bulk file to upload:
                <input type="file" name="file" multiple />
              </label>
              <input type="hidden" name="action" value="register" />
              <button class="btn">Upload and register</button>
            </form>
            <div class="ajax-error"></div>
          </div>

          <div class="pill-pane" id="register">register</div>

          <div class="pill-pane" id="forward">forward</div>

          <div class="pill-pane" id="delegation">delegation</div>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">
   $(document).ready(function () {

       $(".set-status").click(function(event) {
         var action = $(event.target).attr('data-target') + "?update&status=" + $(event.target).attr('data-status');
         $.ajax(action, {
            type : "POST",
            complete :
              function(data, status, xhr){
                $("#registration-dialog").modal("hide");
                location.reload();
              },
            error :
              function(xhr, status, error){
               $("#status-body").html("<div class='alert'>Action failed: " + error + " - " + status + "</div>");
              }
         });
       });

      $(".ajax-form").ajaxForm({
        success:
              function(data, status, xhr){
                $("#status-dialog").modal("hide");
                location.reload();
              },

        error:
            function(xhr, status, error){
               $(".ajax-error").html("<div class='alert'> <button type='button' class='close' data-dismiss='alert'>&times;</button>Action failed: " + error + " - " + xhr.responseText + "</div>");
            }
      });

    });

</script>
