## Generate the registration dialog
## Parameters:
##    $return the page to return to (or is that just referrer)
##    $register the relative URI of the target register

#parse("header.vm")
#parse("navbar.vm")
  
<div class="modal-page">
  <div class="row">
    <div class="offset1 span10 modal-page-panel">
    
      <div class="modal-page-head">
        <h3>Register in $register</h3>
        <h4>Choose registration option ...</h4>
      </div>

      <div class="modal-page-body">

        <ul class="nav nav-pills">
          <li><a href="#item-upload" data-toggle="pill" class="popinfo" data-trigger="hover" data-placement="right"
                 data-content="Register an entry by uploading an RDF file">Upload</a></li>
          <li><a href="#batch" data-toggle="pill" class="popinfo" data-trigger="hover" data-placement="bottom"
                 data-content="Register a collection of entries by uploading a bulk file">Upload batchfile</a></li>
          <li><a href="#register" data-toggle="pill" class="popinfo" data-trigger="hover" data-placement="bottom"
                 data-content="Create a new sub-register here">Subregister</a></li>
          <li><a href="#forward" data-toggle="pill" class="popinfo" data-trigger="hover" data-placement="bottom"
                 data-content="Specify child URI to forward elsewhere">Forward</a></li>
          <li><a href="#entry-form" data-toggle="pill" class="popinfo" data-trigger="hover" data-placement="bottom"
                 data-content="Create and register a new entity via a form">General entry form</a></li>
        </ul>

        <div class="pill-content">
          <div class="pill-pane" id="item-upload">
            <form class="ajax-form" action="$register" method="post" enctype="multipart/form-data" data-return="$return">
              <label>
                Choose file(s) to upload:
                <input type="file" name="file" multiple />
              </label>
              <input type="hidden" name="action" value="register" />
              <button class="btn">Upload and register</button>
            </form>
            <div class="ajax-error"></div>
          </div>

          <div class="pill-pane" id="batch">
            <form class="ajax-form" action="$register?batch-managed" method="post" enctype="multipart/form-data" data-return="$return">
              <label>
                Choose a bulk file to upload:
                <input type="file" name="file" multiple />
              </label>
              <input type="hidden" name="action" value="register" />
              <button class="btn">Upload and register</button>
            </form>
            <div class="ajax-error"></div>
          </div>

          <div class="pill-pane" id="register">
            <div class="ajax-error"></div>
            #set($spec=$lib.reg.getResource("/system/form-templates/register"))
            #parse("form-for.vm")
          </div>

          <div class="pill-pane" id="forward">
            <div class="ajax-error"></div>
            #set($spec=$lib.reg.getResource("/system/form-templates/forward"))
            #parse("form-for.vm")
          </div>


          <div class="pill-pane" id="entry-form">
            <select id="form-chooser">
              <option>Choose a form:</option>
              #foreach($form in $lib.reg.listMembers("/system/form-templates"))
                #if(!$form.entityURI.endsWith("/forward") && !$form.entityURI.endsWith("/register"))
                  #set($label = $form.labels.iterator().next().lexicalForm)
                  <option data-target="#form-$label">$label</option>
                #end
              #end
            </select>
              #foreach($form in $lib.reg.listMembers("/system/form-templates"))
                #if(!$form.entityURI.endsWith("/forward") && !$form.entityURI.endsWith("/register"))
                  #set($label = $form.labels.iterator().next().lexicalForm)

                  <div class="hidden form-choice" id="form-$label">
                    #set($spec=$lib.reg.getResource($form.entityURI))
                    #parse("form-for.vm")
                    <div class="ajax-error"></div>
                  </div>

                #end
              #end
          </div>

          <div class="pill-pane" id="item">
            #set($spec=$lib.reg.getResource("/system/form-templates/concept"))
            #parse("form-for.vm")
            <div class="ajax-error"></div>
          </div>


        </div>
      </div>


      <div class="modal-page-footer">
        <a href="$return" class="btn pull-right">Close</a>
      </div>
      
    </div>
  </div>
  
</div>

<div class="modal-backdrop in"></div>

   <script type="text/javascript">
    $(function() {

       $("#form-chooser").change(function(event){
         $(".form-choice").each(function(){
           var form = $(this);
           if (!form.hasClass("hidden")) {
              form.addClass("hidden")
           }
         });
         var target = event.target;
         var option = target.options[target.selectedIndex];
         var form = $(option).attr('data-target');
         $(form).removeClass("hidden");
         return false;
       });
    });

   </script>

#parse("footer.vm")

