#set($response=$registry.perform("Read","$uri?status=any&_view=with_metadata", $requestor))
#set($target="$registry.baseURI/$uri")

#if($response.status == 404)
  #parse("not-found.vm")

#elseif($response.status >= 500)
  #parse("internal-error.vm")

#else

  #set($model=$response.entity)
  #set($node=$model.getNode($target))

  #set($members= $node.connectedNodes("^reg:register"))
  #set($withItems=true)
  #if($members.isEmpty())
    #set($members= $node.connectedNodes("rdfs:member"))
    #set($withItems=false)
  #end
  
  <table class="datatable">
    <thead>
      <tr>
        #if($withItems)<th>Notation</th>#end
        <th>Label</th>
        <th>Type(s)</th>
        <th>Register/item</th>
        #if($withItems)<th>Status</th>#end
      </tr>
    </thead>
    <tbody>
      #foreach($member in $members)
        <tr>
          #if($withItems)
            <td> <a href="#linkhref($member)">$member.getPropertyValue("reg:notation").lexicalForm</a> </td>
            <td> $member.name </td>
            <td> #foreach($ty in $member.listPropertyValues("reg:itemClass"))$ty.name#if( $foreach.hasNext ), #end#end</td>
            <td>#if($member.hasResourceValue("reg:itemClass", "reg:Register")) register #else item #end</td>
            <td>#showstatus($member.getPropertyValue("reg:status"))</td>
          #else
            <td> <a href="#linkhref($member)">$member.name</a> </td>
            <td> #foreach($ty in $member.listPropertyValues("rdf:type"))$ty.name#if( $foreach.hasNext ), #end#end</td>
            <td>#if($member.hasResourceValue("rdf:type", "reg:Register")) register #else item #end</td>
          #end
        </tr>
      #end
    </tbody>
  </table>
#end


