## $model and $node should be bound to the register
## $members to the list of member entities

      #set($started=false)
      #foreach($member in $members)
        #set($iteml=$member.connectedNodes("^reg:entity/^reg:definition"))
        #if(!$iteml.isEmpty())
          #set($item=$iteml.get(0))
          #if($item.hasResourceValue("reg:itemClass", "reg:Register"))
            #if(!$started)
              #set($started=true)
              <h3>Sub-registers</h3>
            #end
            <div class="result-blob">
              <div class="blob-inner">
                <div class="row">
                  <div class="span3">
                      <strong>Register:</strong>
                       ## #linkfor($member)
                       <a href="#linkhref($member)" title="$member.uRI">/$item.getPropertyValue("reg:notation").lexicalForm</a>
                  </div>
                  <div class="span3">
                       <strong>$member.name</strong>
                  </div>
                  <div class="pull-right">
                    #showstatus($item.getPropertyValue("reg:status"))
                  </div>
                </div>
                <div class="row">
                  <div class="span6">
                      #description($member, "")
                  </div>
                </div>
              </div>
            </div>
          #end
        #end
      #end
