 <div class="row space-above">
  <div class="span12">
    #parse("breadcrumbs.vm")
  </div>
 </div>

 <div class="row">
  <div class="span8">
    <h1>Register: $node.name</h1>
    <p>
    #if($node.getPropertyValue("dct:description"))
      $node.getPropertyValue("dct:description").lexicalForm
    #else
      <em>no description supplied</em>
    #end
    </p>

    <ul class="nav nav-tabs nav-compact action-tab">
      <li class="active"><a href="#list" data-toggle="tab">List</a></li>
      <li><a href="#table" data-toggle="tab">Table</a></li>
      <li><a href="#metadata" data-toggle="tab">Metadata</a></li>
      <li><a href="#administer" data-toggle="tab">Administer</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="list">
        #parse("register-list.vm")
      </div>
      <div class="tab-pane" id="table" data-action="register-table">
        <p>Page is loading ...</p>
      </div>
      <div class="tab-pane" id="metadata">
         #restable($node, "table-striped table-condensed")
      </div>
      <div class="tab-pane" id="administer">
        <p>To be implemented.</p>
      </div>
    </div>
  </div>

  <div class="span4">
    #set($entity=$node)
    #parse("formats.vm")

     <div class="panel">
       <div class="panel-head">
         <h4>About the Register</h4>
       </div>
       <div class="panel-body">
         <table class="table table-striped table-condensed">
           #metadatarow("owned by", $node.listPropertyValues("reg:owner"))
           #metadatarow("managed by", $node.listPropertyValues("reg:manager"))
           #metadatarow("license", $node.listPropertyValues("dct:license"))
           #metadatarow("last changed on", $node.listPropertyValues("dct:modified"))
         </table>
      </div>
     </div>

  </div>

</div>
