 <div class="row">
  <div class="span8">

    <h1>Resource: $entity.name</h1>
    <p><strong>URI:</strong> <a href="$entity.uRI">$entity.uRI</a> </p>
    #if($entity.getProperyValue("rdf:type"))
      <p><strong>Type:</strong> (#foreach($ty in $entity.listPropertyValues("rdf:type"))#linkfor($ty)#if( $foreach.hasNext ), #end#end) </p>
    #end
    #description($entity, "<p><em>no description supplied</em></p>")

    #restable($entity, "table-striped table-condensed table-bordered")
  </div>
</div>
