#parse("header.vm")

<div class="row">
  <div class="span3 test-blob">1</div>
  <div class="span3 test-blob">2</div>
  <div class="span3 test-blob">3</div>
  <div class="span3 test-blob">4</div>
</div>

<div class="row">
  <div class="span3 test-blob">1</div>
  <div class="span3 test-blob">
     <div class="test-border">
        <table class="table table-condensed">
          <tr><td>a</td><td>longer</td></tr>
        </table>
     </div>
  </div>
  <div class="span3 test-blob">3</div>
  <div class="span3 test-blob">4</div>
</div>

<div class="row">
  <div class="span3 test-blob">1</div>
  <div class="span3 test-blob">2</div>
  <div class="span3 test-blob">3</div>
  <div class="span3 test-blob">4</div>
</div>


#parse("footer.vm")
