#set($pageTitle="Search: $query")
#parse("header.vm")
#parse("navbar.vm")

#set($target='<nullsearch>')
#if($query && !$query.trim().isEmpty()) #set($target="'+${query}*'") #end

<h3>Search results for: $query</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>URI</th>
      <th>Type(s)</th>
    </tr>
  </thead>
  <tbody>
#set($query=$lib.expander.parse($query))
#foreach($result in $index.search($query, 0, 50))
  #set($r = $model.getNode($result.uRI))

    <tr>
      <td>$r.name</td>
      <td><a href="${root}/resource?uri=$result.uRI">$result.uRI</a></td>
      <td>#foreach($type in $r.listPropertyValues("rdf:type")) $type#if( $foreach.hasNext ),#end #end</td>
    </tr>
#end
  </tbody>
</table>

#include("footer.vm")
