#set($pageTitle="Registry welcome")

#parse("header.vm")
  #if($uri.isEmpty())
    #set($nav="root")
  #end
#parse("navbar.vm")

<h2>Welcome $userinfo.name</h2>

<p>identity = $userinfo.openid</p>

<p>subject is authenticated = $subject.isAuthenticated()</p>

#parse("footer.vm")
