.blob {
  background-color: #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.blob h3 {
    text-align: center;
}

.blob h2 {
    text-align: center;
}

.metadata-blob {
  background-color: #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.table {
   margin-bottom: 0em;
}

table tr td table {
   margin-bottom: 0em;
}

.box {
  border-style:solid;
  border-width:2px;
  border-color:#eee;
  padding: 4px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.space-above {
   margin-top: 1em;
}

.footer {
    font-size: 0.8em;
}

.nav-text {
    color: white;
}

.button-icon:hover {
    background-color: #88AFF2 ;
    /*
    border-style: solid;
    border-width: 1px;
    border-color: #1B63E0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    */
}

/* Learning graph support */
.graph-node {
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    width: 180px; height:60px;
    text-align:center;
    z-index:20;
    /* position: relative; */
    position: absolute;
    background-color:#eeeeef;
    color:black;
    overflow: hidden;
    text-overflow: ellipsis;
}

.graph-node:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
}

#graph {
    height: 800px;
    background-color:transparent;
}

.graph-label {
    z-index: 1000;
    background-color: white;
    opacity: 0.7;
}

#proposition-nav a, #module-nav a {
    color: #cee3ef;
}
#proposition-nav a:hover, #module-nav a:hover {
    color: white;
}

/* Pearson logo */
/*    #head{float:left;width:100%;height:50px; color:#fff;} */
    #head .logo{float:left;height:43px;width:172px;background:#eee;}
    #head .tagline{float:right;padding:16px 22px 0 12px; width:149px; height:10px;}
    #head .tagline span{display:none;}

    #head{background:#9d1349 url(http://www.pearson.com/images_2010_1/bg_header_nav.gif);}
    #head .logo{background:url(http://www.pearson.com/images_2010_1/purple/logo.gif) no-repeat 17px 11px;}
    #head .tagline{background:url(http://www.pearson.com/images_2010_1/purple/tagLine.gif) no-repeat bottom;}

#footer-line {
    color : blue;
    background-color : #364395;
    height: 3px;
}

.mini-logo {
   position: relative;
   top: -20px;
   width: 50px;
}

.header-link {
    font-size: 70%;
}

.header-link a:link {
    color: white;
}
.header-link a:visited {
    color: white;
}


