.blob {
  background-color: #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.blob h3 {
    text-align: center;
}

.blob h2 {
    text-align: center;
}

.metadata-blob {
  background-color: #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.table {
   margin-bottom: 0em;
}

table tr td table {
   margin-bottom: 0em;
}

.box {
  border-style:solid;
  border-width:2px;
  border-color:#eee;
  padding: 4px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.space-above {
   margin-top: 1em;
}

.footer {
    font-size: 0.8em;
}

.nav-text {
    color: white;
}


