<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>UKL Registry POC</display-name>

  <context-param>
    <param-name>config.basestore</param-name>
    <param-value>com.epimorphics.server.stores.TDBStore,
    location=/var/local/registry/store,
    ep=system</param-value>
  </context-param>

  <context-param>
    <param-name>config.storeapi</param-name>
    <param-value>com.epimorphics.registry.store.StoreBaseImpl,store=basestore,indexer=index
    </param-value>
  </context-param>

  <context-param>
    <param-name>config.index</param-name>
    <param-value>com.epimorphics.server.indexers.LuceneIndex,
    location=/var/local/registry/index,
    commitWindow=5,
    config=${webapp}/WEB-INF/index-config.ttl</param-value>
  </context-param>

  <context-param>
    <param-name>config.velocity</param-name>
    <param-value>com.epimorphics.server.templates.VelocityRender, templates=${webapp}/WEB-INF/templates, root=/ui,
    plugins=reg</param-value>
  </context-param>

  <context-param>
    <param-name>config.reg</param-name>
    <param-value>com.epimorphics.registry.webapi.LibReg</param-value>
  </context-param>

  <context-param>
    <param-name>config.forwarder</param-name>
    <param-value>com.epimorphics.registry.core.ForwardingServiceImpl,
    proxyConfDir=/var/local/registry,
    proxyRestartScript=/var/local/registry/proxy-conf.sh</param-value>
  </context-param>

  <context-param>
    <param-name>config.registry</param-name>
    <param-value>com.epimorphics.registry.core.Registry,
    baseURI=http://ukgovld-registry.dnsalias.net/,
    store=storeapi,
    cacheSize=100,
    pageSize=25,
    forwarder=forwarder,
    log=/var/local/registry/logstore,
    bootSpec=${webapp}/WEB-INF/root-register.ttl|${webapp}/WEB-INF/registry.ttl,
    systemBoot=${webapp}/WEB-INF/boot|/var/local/registry/boot</param-value>
  </context-param>

  <filter>
    <filter-name>Jersey Web Application</filter-name>
    <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.epimorphics.registry.webapi, com.epimorphics.webapi</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.feature.FilterForwardOn404</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
         <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
         <param-value>com.sun.jersey.api.container.filter.PostReplaceFilter</param-value>
     </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Jersey Web Application</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <listener>
    <listener-class>com.epimorphics.server.core.ServiceConfig</listener-class>
  </listener>

    <servlet>
        <servlet-name>sparql</servlet-name>
        <servlet-class>org.apache.jena.fuseki.servlets.SPARQL_QueryDataset</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sparql</servlet-name>
        <url-pattern>/system/query</url-pattern>
    </servlet-mapping>

<!--
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    -->

</web-app>
