<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>UKL Registry POC</display-name>

  <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>

  <filter>
    <filter-name>Jersey Web Application</filter-name>
    <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.epimorphics.registry.webapi, com.epimorphics.webapi</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.feature.FilterForwardOn404</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
         <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
         <param-value>com.sun.jersey.api.container.filter.PostReplaceFilter</param-value>
     </init-param>
  </filter>

  <filter>
    <filter-name>VelocityFilter</filter-name>
    <filter-class>com.epimorphics.server.templates.VelocityFilter</filter-class>
    <init-param>
      <param-name>renderService</param-name>
      <param-value>velocity</param-value>
    </init-param>
  </filter>

  <!-- Most security is done at the Jersey resource level not here -->
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Jersey Web Application</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>VelocityFilter</filter-name>
    <url-pattern>/ui/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.epimorphics.registry.core.RegistryDirBootstrap</listener-class>
  </listener>

  <listener>
    <listener-class>com.epimorphics.server.core.ServiceConfig</listener-class>
  </listener>

  <listener>
      <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>

  <session-config>
    <!-- web.xml expects the session timeout in minutes: -->
    <session-timeout>30</session-timeout>
  </session-config>

  <context-param>
    <param-name>registry-file-root</param-name>
    <param-value>/opt/ldregistry</param-value>
  </context-param>

  <context-param>
    <param-name>service-config</param-name>
    <!-- Will initialize from first of these it finds, so external overrides internal -->
    <param-value>/opt/ldregistry/config/services.conf|${webapp}/WEB-INF/services.conf</param-value>
  </context-param>

    <servlet>
        <servlet-name>sparql</servlet-name>
        <servlet-class>org.apache.jena.fuseki.servlets.SPARQL_QueryDataset</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sparql</servlet-name>
        <url-pattern>/system/query</url-pattern>
    </servlet-mapping>

<!--
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    -->

</web-app>
